/* https://fonts.google.com/?selection.family=Lato */
/* https://fontlibrary.org/ */

h1{
  font-family:"Arial";
}

p{
  font-family: 'Lato', sans-serif;
}

body{
  font-size: 20px;
}

#two{
  font-size: 1.4em;
}

p{
  font-style:italic;
  font-weight: bold;
}

h1{
  text-align: center;
}
